<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
<h1>Welcome [[${user.name}]]</h1>

<div th:if="${#lists.size(applications) > 0}">
    <div th:each="app : ${applications}">
        <span th:text="${app.company}"></span>
    </div>
</div>

<a method="get" th:href="@{/createApplication/{userId} (userId=${user.userId})}">Create New Application</a>
<!--<a method="get" th:href="@{/users}">Back</a>-->
<!--<form method="post" th:action="@{/users/{userId}/account (userId=${user.userId})}">-->

</body>
</html>